<!-- PORDUCT QUICK VIEW MODAL -->
<div class="modal fade quick-view quick-view-<%= product.id %>" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="media">
          <div class="media-left">
            <%= image_tag(product.display_image.attachment(:large), class: "media-object", alt: "Image") %>
          </div>
          <div class="media-body">
            <h2><%= product.name %></h2>
            <h3><%= product.display_amount %></h3>
            <p><%= product.description %></p>
            <span class="quick-drop">
                  <select name="guiest_id3" id="guiest_id3" class="select-drop">
                    <option value="0">Size</option>
                    <option value="1">Size 1</option>
                    <option value="2">Size 2</option>
                    <option value="3">Size 3</option>
                  </select>
                </span>
            <span class="quick-drop resizeWidth">
                  <select name="guiest_id4" id="guiest_id4" class="select-drop">
                    <option value="0">Qty</option>
                    <option value="1">Qty 1</option>
                    <option value="2">Qty 2</option>
                    <option value="3">Qty 3</option>
                  </select>
                </span>
            <div class="btn-area">
              <a href="#" class="btn btn-primary btn-block">Add to cart
                <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
