<div class="col-xs-6">
  <%= form_tag request.path, method: :get do %>
    <%= select_tag(:sort,
                   options_for_select(Spree::Product::ORDER_SELECTORS,
                                      set_filter_box_default_value(params[:sort])),
                   onchange: 'this.form.submit()',
                   class: 'select-drop') %>
    <% unless params[:filter].nil? %>
      <%= hidden_field_tag :filter,
                           params[:filter] %>
    <% end %>
  <% end %>
</div>
