<div class="col-xs-6">
  <div class="btn-group pull-right" role="group">
    <button type="button"
            class="btn btn-default <%= 'active' if grid_layout?(params[:layout]) %>"
            onclick="window.location.href='/potepan/categories/<%= taxon.id %>'">
      <i class="fa fa-th" aria-hidden="true"></i><span>Grid</span></button>
    <button type="button"
            class="btn btn-default <%= 'active' if list_layout?(params[:layout]) %>"
            onclick="window.location.href='/potepan/categories/<%= taxon.id %>?layout=list'">
      <i class="fa fa-th-list" aria-hidden="true"></i><span>List</span></button>
  </div>
</div>
