<div class="col-xs-12">
  <div class="media">
    <div class="media-left">
      <%= image_tag(product.display_image.attachment(:product), alt: "products-img") %>
      <span class="maskingImage">
        <a data-toggle="modal" data-target=".quick-view-<%= product.id %>" class="btn viewBtn">Quick View</a>
      </span>
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to product.name, potepan_product_path(product.id) %>
      </h4>
      <p><%= product.description %></p>
      <h3><%= product.display_amount %></h3>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target=".login-modal">
          <i class="fa fa-heart" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-default" onclick="location.href='cart-page.html';">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
  <!-- PRODUCT QUICK VIEW MODAL -->
  <%= render partial: 'potepan/shared/product_quick_view_modal',
             locals: { product: product } %>
</div>
