<div class="col-md-9 col-sm-8 col-xs-12">
  <div class="row filterArea">
    <%= render partial: 'filters',
               locals: { taxon: taxon } %>
  </div>
  <%= render partial: 'pagination',
             locals: { products: products } %>
  <% if grid_layout?(params[:layout]) %>
    <div class="row">
      <%= render partial: 'potepan/shared/displayed_product',
                 collection: products,
                 as: :product,
                 locals: { size_md: 4, size_sm: 6, size_xs: 12 } %>
    </div>
  <% else %>
    <div class="row productListSingle">
      <%= render partial: 'displayed_product_list',
                 collection: products,
                 as: :product %>
    </div>
  <% end %>
  <%= render partial: 'pagination',
             locals: { products: products } %>
</div>
