<div class="panel panel-default filterNormal">
  <div class="panel-heading">サイズから探す</div>
  <div class="panel-body">
    <ul class="list-unstyled">
      <%= render partial: 'size',
                 collection: sizes,
                 as: :size,
                 locals: { taxon: taxon } %>
    </ul>
  </div>
</div>
