<div class="panel panel-default filterNormal">
  <div class="panel-heading">色から探す</div>
  <div class="panel-body">
    <ul class="list-unstyled">
      <%= render partial: 'color',
                 collection: colors,
                 as: :color,
                 locals: { taxon: taxon } %>
    </ul>
  </div>
</div>
