<div class="col-md-3 col-sm-4 col-xs-12 sideBar">
  <%= render partial: 'products_categories_panel',
             locals: { taxonomies: taxonomies } %>
  <%= render 'search_by_price_panel' %>
  <%= render partial: 'search_by_color_panel',
             locals: { taxon: taxon, colors: colors } %>
  <%= render partial: 'search_by_size_panel',
             locals: { taxon: taxon, sizes: sizes } %>
</div>
