<% provide(:title, @taxon.name) %>

<%= render partial: 'potepan/categories/category_page_header',
           locals: { taxon: @taxon } %>

<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render partial: 'sidebar',
                 locals: { taxonomies: @taxonomies,
                           taxon: @taxon,
                           colors: @colors,
                           sizes: @sizes } %>
      <%= render partial: 'main_contents',
                 locals: { products: @products,
                           taxon: @taxon,
                           layout: params[:layout] } %>
    </div>
  </div>
</section>

<%= render 'layouts/partners_logo_slider' %>
