<div class="row productsContent">
  <div class="col-xs-12">
    <div class="page-header">
      <h4>関連商品</h4>
    </div>
  </div>
  <%= render partial: "potepan/shared/displayed_product",
             collection: similar_products,
             as: :product,
             locals: { size_md: 3, size_sm: 6, size_xs: 12 } %>
</div>
