<% provide(:title, @product.name) %>
<!--Page Header-->
<%= render partial: 'product_page_header',
           locals: { product: @product } %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <%= render partial: "main_product",
               locals: { product: @product } %>
    <%= render partial: "similar_products",
               locals: { similar_products: @similar_products } %>
  </div>
</section>
