<div class="slide">
  <div class="productImage clearfix">
    <%= image_tag(product.display_image.attachment(:product), alt: "products-img") %>
    <div class="productMasking">
      <ul class="list-inline btn-group" role="group">
        <li>
          <a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a>
        </li>
        <li>
          <a href="cart_page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a>
        </li>
        <li>
          <a class="btn btn-default" data-toggle="modal" data-target=".quick-view-<%= product.id %>"><i class="fa fa-eye"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="productCaption clearfix">
    <%= link_to potepan_product_path(product.id) do %>
      <h5 class="potepanProductTitle"><%= product.name %></h5>
      <h3><%= product.display_amount %></h3>
    <% end %>
  </div>
</div>
