<%= render 'banner' %>

<section class="mainContent clearfix">
  <div class="container">
    <%= render 'featured_collection' %>
    <%= render partial: 'featured_products',
               locals: { products: @products } %>
    <%= render 'articles' %>
  </div>
</section>

<%= render 'layouts/partners_logo_slider' %>

<%= render partial: 'potepan/shared/product_quick_view_modal',
           collection: @products,
           as: :product %>

