<!DOCTYPE html>
<html lang="en">
<%= render 'layouts/head' %>
<body>
  <div class="main-wrapper">
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= render 'layouts/copyright' %>
    <%= render 'layouts/login_modal' %>
    <%= render 'layouts/sign_up_modal' %>
  </div>
<%= javascript_include_tag 'application' %>
</body>
</html>
